@charset "UTF-08";

table {
    text-align: center;
    width: 500px;
    height: 200px;
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

th, td {
   border: 1px solid black;
}